* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("https://img.freepik.com/vetores-gratis/desenho-de-fundo-de-estilo-de-gradiente-minimalista-de-luxo_698780-700.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    & input {
        padding: 5px;
        border-radius: 5px;
        border: none;
        border: solid 2px red;
        margin: 5px;
    }
}

.container-form form h1 {
    text-align: center;
    color: red;
}

.btn-submit {
    width: 150px;
    border-radius: 5px;
    border: none;
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 10px gray;
    transform: scale(1.1);
    transition: .2s ease-in;
}



/* Parte do mural */

#formulario_mural {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header h1 {
    color: red;
    text-align: center;
}

#mural input, textarea {
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

/* Parte do moderador */

.cabecalho {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}

.cabecalho a:hover {
    text-decoration: underline;
}

.formulario_mural {
    margin: 15px;
}

.edit-remove {
    color: red;
    text-decoration: none;
}

.edit-modify {
    color: green;
    text-decoration: none;
}

.edit-modify:hover, .edit-remove:hover {
    text-decoration: underline;
}

.recados-form {
    margin: 10px;
}