@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('../img/fundo-de-textura-de-tinta-marmorizada-liquida-pintura-fluida-textura-abstrata-mistura-de-cores-intensas-papel-de-parede.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container-geral {
    background: url('../img/fundo-de-textura-de-tinta-marmorizada-liquida-pintura-fluida-textura-abstrata-mistura-de-cores-intensas-papel-de-parede.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

.container-form, .mural-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#container-mural {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-container .titulo-form {
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 2.2rem;
    font-weight: 600;
}

.form-container input {
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
}

#formulario_mural .name, .email, .msg {
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3 );
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
}

.msg {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.form-container input::placeholder {
    color: #eee;
}

.form-container .btn-submit {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: darkred;
}

.btn-submit2 {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-submit2:hover {
    background-color: darkred;
    box-shadow: 0px 0px 10px black;
}

#formulario_mural {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#header h1 {
    color: red;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 42px;
}

#mura input, textarea {
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}

.cabecalho a:hover {
    text-decoration: underline;
    color: red;
}

.edit-remove {
    color: red;
    text-decoration: none;
}

.edit-modify {
    color: rgb(10, 189, 10);
    text-decoration: none;
}

.edit-modify:hover, .edit-remove:hover {
    text-decoration: underline;
}

.recados-form {
    width: 100%;
    margin: 0 10px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.recados {
    margin: 15px 10px;

    & strong {
        color: rgb(131, 131, 131);
    }
}

#container-mural {
    margin: 35px;
}